---
import logo from "@assets/img/logo-new-full.png";
import { config } from "@/stores/config";
import { cityOption, fetchCity } from "@/stores/city";
import NavbarMeta from "./NavbarMeta.vue";
import NavbarSearch from "./NavbarSearch.vue";
import HhImage from "@/components/HhImage.vue";
await fetchCity();
---

<div>
  <div class="sticky top-0 w-full mx-auto bg-white shadow">
    <div class="container mx-auto lg:px-2">
      <div class="flex items-center">
        <HhImage src={logo} alt="image" sources={[]} width="130" client:load />
        <!-- <Picture src={logo} widths={[130]} sizes="130px" format="webp" /> -->
        <div>{config.value.supportPhone}</div>
        <div class="flex-auto"></div>
        <div class="flex items-center justify-between">
          <NavbarSearch class="mr-2" client:idle />
          <button class="mr-2">Sign In</button>
          <div class="flex items-center ml-2">
            <NavbarMeta cityOption={cityOption.value} client:idle />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
