---
import logo from "@assets/img/logo-new-full.png";
import { config } from "@/stores/config";
import { cityOption } from "@/stores/city";
import NavbarMeta from "./NavbarMeta.vue";
import NavbarSearch from "./NavbarSearch.vue";
import HhImage from "@/components/HhImage.vue";
---

<div class="sticky top-0 z-10 w-full mx-auto bg-white shadow">
  <div class="container mx-auto lg:px-2">
    <div class="flex items-center">
      <HhImage src={logo} alt="image" sources={[]} width="130" client:load />
      <div class="flex-auto"></div>
      <div class="flex items-center justify-between">
        <NavbarSearch class="mr-2" client:idle />
        <div class="flex items-center mx-2">
          <NavbarMeta cityOption={cityOption.value} client:idle />
        </div>
        <button class="mr-2">Sign In</button>
      </div>
    </div>
  </div>
</div>
