---
import Layout from "@/layouts/Layout.astro";
// import Navbar from "@section/navbar/Navbar.astro";
// import HomeAPIRequest from "@/partial/home/HomeAPIRequest.vue";
// import HomeBanner from "@/partial/home/HomeBanner.vue";
// import { setupConfig, getLang, setServerLang } from "@/stores/config";
// import "@/assets/css/index.css";
// import { selectedCityId, cityOption, fetchCity } from "@/stores/city";
// import {
//   addLang,
//   translate,
//   addTranslate,
//   init,
// } from "@/composable/useTranslate";
// await setupConfig();
// const params = Astro.params;
// console.log("params", params);
// setServerLang(params.lang as string);

// await init(getLang());
// await fetchCity();

import MyButton from "@/components/MyButton.vue";
---

<Layout title="Welcome to Astro.">
  <MyButton />
  <!-- <HomeAPIRequest client:load />
  <main class="">
    <Navbar />
    <HomeBanner
      image=""
      totalCover={100}
      cityId={selectedCityId.value}
      client:idle
    />
  </main> -->
</Layout>
