---
import Layout from "../../layouts/Layout.astro";
import Navbar from "@section/navbar/Navbar.astro";
import HomeAPIRequest from "@/partial/home/HomeAPIRequest.vue";
import HomeBanner from "@/partial/home/HomeBanner.vue";
import { setupConfig, getLang, setServerLang } from "@/stores/config";
import "@/assets/css/index.css";
import { selectedCityId, cityOption, fetchCity } from "@/stores/city";
import {
  addLang,
  translate,
  addTranslate,
  init,
} from "@/composable/useTranslate";
import HomeRestaurantSlider from "@/partial/home/HomeRestaurantSlider.vue";
await setupConfig();
const params = Astro.params;
console.log("params", params);
setServerLang(params.lang as string);

await init(getLang());
await fetchCity();
// addLang();
// addTranslate({
//   en: {
//     bannerCTA: "More than {{total}} diners seated, book your table today!",
//   },
//   th: {
//     bannerCTA: "มียอดจองไปแล้วกว่า {{total}} ที่นั่ง จองโต๊ะของคุณวันนี้!",
//   },
// });
---

<Layout title="Welcome to Astro.">
  <HomeAPIRequest client:load />
  <main class="">
    <Navbar />
    <HomeBanner
      image=""
      totalCover={100}
      cityId={selectedCityId.value}
      client:idle
    />
    <HomeRestaurantSlider class="container mx-auto" />
  </main>
</Layout>
