---
import Layout from "../../layouts/Layout.astro";
import Navbar from "@section/navbar/Navbar.astro";
import HomeAPIRequest from "@/partial/home/HomeAPIRequest.vue";
import HomeBanner from "@/partial/home/HomeBanner.vue";
import { setupConfig, getLang, setServerLang } from "@/stores/config";
import "@/assets/css/index.css";
import {
  init,
  addLang,
  translate,
  addTranslate,
} from "@/composable/useTranslate";
import { selectedCityId } from "@/stores/city";
await setupConfig();
const params = Astro.params;
setServerLang(params.lang as string);

await init(getLang());
addLang();
// addTranslate({
//   en: {
//     bannerCTA: "More than {{total}} diners seated, book your table today!",
//   },
//   th: {
//     bannerCTA: "มียอดจองไปแล้วกว่า {{total}} ที่นั่ง จองโต๊ะของคุณวันนี้!",
//   },
// });
---

<Layout title="Welcome to Astro.">
  <HomeAPIRequest client:load />
  <main class="">
    <Navbar />
    <HomeBanner
      image=""
      totalCover={100}
      cityId={selectedCityId.value}
      client:idle
    />
    <p>{translate("welcome")}</p>
    <p>{translate("kucing")}</p>
  </main>
</Layout>
