---
import Layout from "../../layouts/Layout.astro";
import Navbar from "@section/navbar/Navbar.astro";
import HomeAPIRequest from "@/partial/home/HomeAPIRequest.vue";
import HomeBanner from "@/partial/home/HomeBanner.vue";
import { setupConfig, getLang, setServerLang, config } from "@/stores/config";
import "@/assets/css/index.css";
import { selectedCityId } from "@/stores/city";
import { init } from "@/composable/useTranslate";
import HomeRestaurantSlider from "@/partial/home/HomeRestaurantSlider.vue";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "@/assets/css/library-override.scss";
import "@/partial/home/home.scss";
import { formatThousand } from "@/helper/string";
// await setupConfig();
const params = Astro.params;
setServerLang(params.lang as string);

await init(getLang());
---

<Layout title="Welcome to Astro.">
  <HomeAPIRequest client:load />
  <main class="">
    <Navbar />
    <HomeBanner
      image=""
      totalCover={formatThousand(config.value.totalCovers)}
      cityId={selectedCityId.value}
      client:idle
    />
    <div class="hidden" style="height: 900px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae minus,
      mollitia doloribus illum ad harum corrupti laborum quis recusandae atque
      quo suscipit iure, aspernatur assumenda corporis labore optio eveniet?
    </div>
    <div class="container mx-auto">
      <HomeRestaurantSlider apiOrder={3} homeSectionOrder={1} client:idle />
      <HomeRestaurantSlider apiOrder={1} homeSectionOrder={1} client:idle />
      <HomeRestaurantSlider apiOrder={8} homeSectionOrder={1} client:only />
      <HomeRestaurantSlider apiOrder={6} homeSectionOrder={1} client:only />
    </div>
  </main>
</Layout>
